doctype html
html
  include header
  body(data-spy='scroll', data-target='.navigation')
    // Start Header
    header#header
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            // Start Logo / Text
            a.navbar-brand.text-logo(href='#')
              i.icon-signout
              | STL Justice Portal
            // End Logo / Text
          // Start Navigation
          .navigation.navbar-collapse.collapse
            ul.nav.navbar-nav.menu-right
              li.active
                a(href='/') Home
              li
                a(href='/search') Search
              li
                a(href='/comsvc') Payment
              li
                a(href='/analytics') Analytics
          // End Navigation
    // End Header
    block content
  include footer
