extends inc/layout

block content
  // Start Banner
  #banner
    .banner-inner
      .container
        .row
          // Start Header Text
          .col-md-8.header-text
            h1
              strong Payment Alternatives
            p
              | Through collaboration and much work with the Justice System we have been able to bring you the opportunity for some alternative payment options.
          .col-lg-4.col-md-4
  
  section#search.section
    .container
      .row
          h4 Program Information:
          p  - Each work hour performed counts for $10 against your owned fine
          p  - You can combine community service work hours and payment
          p  - All required hours must be completed with in the allotted timeframe determined by the court
          h4 Resources:
          p Looking for places to perform community service within the St Louis County area?  Follow the below link to obtain a list of available approved organizations to perform community service.
          p
            a(href='http://stlouiscountymo.tripod.com/id1.html') CLICK: Community Service Opportunities		  
          h4 Program Application:
          p If you are having financial issues and are unable to pay your fines and are willing to complete community service you may be able to complete community service in lieu of paying your fines.  Please fill out below application to for consideration into the program.  Once the form is complete allow 5-7 business days for the court to review the information and contact you.
        .col-md-5.bottom-contact
          // Start Contact Form
          form#contact-form.contact-form(method='post', action='contact-form.php')
            .form-group
              input#contact-name.form-control(name='contact-First name', type='text', placeholder='First Name')
            .form-group
              input#contact-name.form-control(name='contact-Last name', type='text', placeholder='Last Name')			  
            .form-group
              input#contact-email.form-control(name='contact-email', type='text', placeholder='Driver Liscense #')
            .form-group
              input#contact-phone.form-control(name='contact-phone', type='text', placeholder='Fines Owed')
            .form-group
              textarea#contact-message.form-control(name='contact-message', placeholder='Brief Explanation of Hardship')
            .form-group
              button.btn.btn-default.btn-submit(type='submit', style='background-color:#1A9FF9; border-color:#0575c1;') Submit
            .row
              .col-md-12
                .form-process-contact
          // End Contact Form



