extends inc/layout

block content
  // Start Banner
  #banner
    .banner-inner
      .container
        .row
          // Start Header Text
          .col-md-8.header-text
            h1
              strong Easily
              |  Manage Your Citations
            p
              | STL Justice Portal is here to provide you with a one-stop-shop for managing your court cases in the St. Louis metropolitan area.
            .row
              .col-lg-6.col-md-6.col-sm-6
                ul.green-arrow
                  li Look up cases for any STL municipality!
                  li Lost your citation number? We can help!
                  li See all of your case's information including fines, court dates, and more!
                  li Pay your fines online!
              .col-lg-6.col-md-6.col-sm-6
                ul.green-arrow
                  li Rate your court experience!
                  li Anonymously report descrimination violations.
                  li Provide anonymous data to help improve your community.
              .clearfix
          // End Header Text
          // Start Side Image
          .col-lg-4.col-md-4
            img.img-responsive(src='img/3D_Judges_Gavel.jpg', alt='', title='')
          // End Side Image
        .divider50
        // Start Banner Optin Form
        form#banner-form.form-inline(method='post', action='/citation')
          .banner-optin
            .row
              .form-group.col-md-2
                input#banner-name.form-control(name='banner-name', type='text', required='', placeholder='Last Name')
              .form-group.col-md-1.banner-form-label
                label(for="banner-citation")
                  | AND
              .form-group.col-md-3
                input#banner-citation.form-control(name='banner-citation', type='text', placeholder='Citation #')
              .form-group.col-md-1.banner-form-label
                label(for="banner-id")
                  | OR
              .form-group.col-md-3
                input#banner-id.form-control(name='banner-id', type='text', placeholder='Drivers License / ID #')
              .form-group.col-md-2
                button.btn.btn-default.btn-submit(type='submit') Find Your Citation
          .row
            .col-md-12
              .form-process
              // Displays status when submitting form
        // End Banner Optin Form
  // End Banner
  
  // Start Scroll To Top
  a.scroll-up(href='#')
    i.fa.fa-arrow-up
  // End Scroll To Top
