extends inc/layout

block content
  //- div.container
  //-   form(name='citation_no_form', action='/citation/search')
  //-     label Citation number:&nbsp;
  //-     input(type='hidden', name='searchId', value='1')
  //-     input(type='text', name='driverLicense')
  //-     br
  //-     br
  //-     label Last name:&nbsp;
  //-     input(type='text', name='lastName')
  //-     br
  //-     br
  //-     input(type='submit' value='Search')
  
  // Start Banner
  #banner
    .banner-inner
      .container
        .row
          // Start Header Text
          .col-md-8.header-text
            h1
              strong Search
              |  for your citations.
            p
              | We want to help you find your citations no matter which St. Louis area municipality they are in, and regardless if you've lost some of your information. Fill out one of the forms below to search for your citation information.
          .col-lg-4.col-md-4
            img.img-responsive(src='http://placehold.it/400x200', alt='', title='')
          // End Side Image
  section#search.section
    .container
      .row
        form.form-inline(name='driver_form',method='post', action='/citation')
          input(type='hidden', name='searchId', value='2')
          .banner-optin
            .row
              .form-group.col-md-3
                //- .banner-form-label
                //-   label(for="search_id")
                //-   | AND
                input#lastName.form-control(name='lastName', type='text', required='', placeholder='Last Name')
              .form-group.col-md-3
                //- .banner-form-label
                //-   label(for="driverLicense")
                //-   | AND
                input#driverLicense.form-control(name='driverLicense', type='text', placeholder='Drivers License / ID #')
              .form-group.col-md-3
                //- .banner-form-label
                //-   label(for="last_name")
                //-   | AND
              .form-group.col-md-3.offset-md-3
                button.btn.btn-default.btn-submit(type='submit') Find Your Citation
      hr
      .row
        form.form-inline(name='citation_no_form',method='post', action='/citation')
          input(type='hidden', name='searchId', value='1')
          .banner-optin
            .row
              .form-group.col-md-3
                //- .banner-form-label
                //-   label(for="search_id")
                //-   | AND
                input#lastName.form-control(name='lastName', type='text', required='', placeholder='Last Name')
              .form-group.col-md-3
                //- .banner-form-label
                //-   label(for="driverLicense")
                //-   | AND
                input#citationNum.form-control(name='citationNum', type='text', placeholder='Citation #')
              .form-group.col-md-3
                //- .banner-form-label
                //-   label(for="last_name")
                //-   | AND
                input#dob.form-control(name='dob', type='text', placeholder='Date Of Birth')
              .form-group.col-md-3
                button.btn.btn-default.btn-submit(type='submit') Find Your Citation
      hr
      .row
        form.form-inline(name='first_last_dob_form',method='post', action='/citation')
          input(type='hidden', name='searchId', value='3')
          .banner-optin
            .row
              .form-group.col-md-3
                //- .banner-form-label
                //-   label(for="search_id")
                //-   | AND
                input#lastName.form-control(name='lastName', type='text', required='', placeholder='Last Name')
              .form-group.col-md-3
                //- .banner-form-label
                //-   label(for="driverLicense")
                //-   | AND
                input#firstName.form-control(name='firstName', type='text', placeholder='First Name')
              .form-group.col-md-3
                //- .banner-form-label
                //-   label(for="last_name")
                //-   | AND
                input#dob.form-control(name='dob', type='text', placeholder='Date Of Birth')
              .form-group.col-md-3
                button.btn.btn-default.btn-submit(type='submit') Find Your Citation
      hr

  //-   br
  //-   br

  //- form(name='first_last_dob_form', action='/citation')
  //-   input(type='hidden', name='searchId', value='2')
  //-   label Last name:&nbsp;
  //-   input(type='text', name='lastName')
  //-   br
  //-   br
  //-   label First name:&nbsp;
  //-   input(type='text', name='firstName')
  //-   br
  //-   br
  //-   label DOB:&nbsp;
  //-   input(type='date', name='dob')
  //-   br
  //-   br
  //-   input(type='submit' value='Search')


  //-   br
  //-   br

  //- form(name='driver_form', action='/citation')
  //-   input(type='hidden', name='searchId', value='3')
  //-   label Driver's license:&nbsp;
  //-   input(type='text', name='driverLicense')
  //-   br
  //-   br
  //-   label Last name:&nbsp;
  //-   input(type='text', name='lastName')
  //-   br
  //-   br
  //-   input(type='submit' value='Search')

