extends inc/layout

block content
  div.container
    form(name='citation_no_form', action='/citation/search')
      label Citation number:&nbsp;
      input(type='hidden', name='searchId', value='1')
      input(type='text', name='driverLicense')
      br
      br
      label Last name:&nbsp;
      input(type='text', name='lastName')
      br
      br
      input(type='submit' value='Search')

    br
    br

    form(name='first_last_dob_form', action='/citation')
      input(type='hidden', name='searchId', value='2')
      label Last name:&nbsp;
      input(type='text', name='lastName')
      br
      br
      label First name:&nbsp;
      input(type='text', name='firstName')
      br
      br
      label DOB:&nbsp;
      input(type='date', name='dob')
      br
      br
      input(type='submit' value='Search')

    br
    br

    form(name='driver_form', action='/citation')
      input(type='hidden', name='searchId', value='3')
      label Driver's license:&nbsp;
      input(type='text', name='driverLicense')
      br
      br
      label Last name:&nbsp;
      input(type='text', name='lastName')
      br
      br
      input(type='submit' value='Search')

