body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: auto;
}

.selector {
    background-color: $gray-base;
    .another-selector {

    }
    &.another-selector {

    }
}

.selector.another-selector {
}
