body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: auto;
}

.banner-form-label {
  text-align: center;
  label {
    font-size: 1.5em;
    color: $gray-lighter;
    margin-top: 12px;
  }
}
